/*fonts*/
@font-face {
    font-family: Raleway;
    src: url('../resources/fonts/Raleway.ttf');
}

@font-face {
    font-family: Lato;
    src: url('../resources/fonts/Lato-Regular.ttf');
}

h1, h2, h3, h4, h5, h6, .font-raleway {
    font-family: Raleway !important;
}

p, button, .font-Lato {
    font-family: Lato !important;
}


body {
    scroll-behavior: smooth;
}

.section-img > img {
    filter: grayscale(100%);
}

.services_desc > img {
    height: 20vh;
}

navbar a {
    display: inline-block;
    position: relative;
    color: #333;
    text-decoration: none;
}

navbar a:before,
a:after {
    content: "";
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: #23C4CE;
    transition: all .3s;

}

navbar a:hover:before,
navbar a:hover:after {
    width: 100%;
    color: #23C4CE;

}


.text-primary {
    color: #23C4CE !important;
}

.text-formatGray {
    color: #4C5961 !important;
}

.text-formatGray2 {
    color: #E2E2E2 !important;
}

.os-theme-dark > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {

    background: rgba(71, 84, 93, 0.7);
}

.os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle {
    background-color: rgb(30, 175, 188) !important;
    height: 24%;
}